* {margin: 0; padding: 0; }


li {list-style: none; }
body {font-family: 'Nanum Gothic', sans-serif; width: 100%; margin: 0 auto; }


/*-------------------------------------드롭다운 메뉴 관련 css-------------------------------------*/
.logo {margin: 50px 0;  text-align: center;}            
.info {float: right; font-size: 12px; margin-right: 10px;}
.topMenu {
    margin-left: 10%;
    margin-bottom: 20px;
    text-align: center;
    height: 40px;
    position: relative;
    /*
    border: solid 1.5px;
    border-radius: 10px;*/

}
.menu01 a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 20px;
    font-family: 에스코어 드림 9 Black;
}
#me1:hover{color: red;}
#me2:hover{color: red;}
#me3:hover{color: red;}
#me4:hover{color: red;}
.menu01>li {float: left; width: 20%; line-height: 40px; }
.menu01 span {font-size: 20px; font-weight: bold; }
.dept01 {
        box-sizing: border-box;
        width: 20%;
        position: absolute;
        z-index: 2;
        display: none;
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid;
}
.nop {float: none; }
.menu01:hover .dept01{
    display: block;
}
/*-------------------------------------드롭다운 메뉴 관련 css 끝-------------------------------------*/
/*-------------------------------------배너 슬라이드 관련-------------------------------------*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  padding-top: 40px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}
#abcd {
  width: 100%;
  height: 350px;
  background-image: url('4ecacdffeff02.png');
  background-color: #717171;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*---------------------------슬라이드 배너 끝 부분---------------------------------------*/
/*-------------------------------------h2-------------------------------------*/
.section{
  background-color: #ffffff;
  padding: 60px 0 0 0;
}

.section .h2{
  position: relative;
}
.section .h2 h2{
  text-align: center;
  font-size: 40px;
  font-family: font_sw, sans-serif;
  padding: 17px 0 0 25px;
}
/*-------------------------------------h2-------------------------------------*/
/*         이달의 추천 메뉴                      */
.todaymenu{
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
}
.todaymenu_text{
  display: inline-block;
  
}
.todaymenu_text img{
  width: 400px;
}
.todaymenu_img img{
  width: 500px;
  margin: 20px;
}
#today_button{
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
}
#today_button:hover{
  background-color: red;
  border: none;
  color: white;
  transition: all .7s;
}
/*         이달의 추천 메뉴 끝*/
section{
    float: top;
    height: 75%;
}
footer {
    position: relative;
    padding: 22px 0;
    height: 10%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background: rgb(160, 160, 160);
}